<div    class="ticket-component clearfix"
        [attr.ticket-id] = ticket._id
        [attr.ticket-order] = ticket.order>

    <div
        class = 'ticket-text '
        *ngIf = '!editingTicket'
        (click)="showTicketDetails()"
        >
        <!--(click)="enableEditTicket()"-->
        {{ticket.text}}
    </div>

    <button
            *ngIf = '!editingTicket'
            class = 'btn btn-del-ticket'
            (click) = deleteTicket()>
        x
    </button>

    <textarea
        *ngIf = 'editingTicket'
        [(ngModel)]="ticket.text"
        (blur)="updateTicket()">
        {{ticket.text}}
    </textarea>
</div>
