<link rel="stylesheet" href="/app/components/css/styles.css">

<header>
    <nav>

        <a class="btn"
        (click)="toggleDashBoard()">|||| Boards</a>
        <a class="logo">Trello learning app</a>

        <div class = "login">
            <button class="btn" [routerLink]="['']">Home</button>
            <button class="btn" [routerLink]="['login']" *ngIf="!auth.isAuthenticated()">Log In</button>
            <button class="btn" (click)="auth.logout()" *ngIf="auth.isAuthenticated()">Log Out</button>
        </div>
    </nav>
</header>

<div id="content-wrapper">
    <!--<board-component></board-component>-->
    <dashboard-component *ngIf="dashBoardVisible"></dashboard-component>
    <router-outlet></router-outlet>

</div>
