<div class="board-title">
    <span> Test Board </span>
    <!--<input />-->
</div>

<section id="main" >
    <div class="sortable-list">

        <!--<div class = "list-component clearfix" id = "{{node._id}}" *ngFor = "let node of childNodes">-->
            <!--{{node.name}}-->
            <!--<button class = "btn-add" (click) = "addChild(node)">+</button>-->
            <!--<child-node [childNodes] = "node.children"></child-node>-->
        <!--</div>-->
        <list-component  *ngFor="let list of lists" [inputList] = "abcdefg"></list-component>
    </div>
    <div class="add-list">
        <span>Add a list...</span>
        <!--<input />-->
    </div>

</section>

