<div class="board-title">
    <span> Test Board </span>
    <!--<input />-->
</div>

<section id="main" >
        <!--<div class="sortable-list" >-->

        <div class="sortable-list"
             dnd-sortable-container
             [dropZones]="['list-zone']"
             [sortableData]="lists">

             <list-component  *ngFor="let list of lists;  let i = index"
                 [inputList] = "list"
                 dnd-sortable
                 [sortableIndex]="i"
                 [dragEnabled]='true'>
             </list-component>

            <!--<list-component  *ngFor="let list of lists"-->
                 <!--[inputList] = "list">-->
            <!--</list-component>-->

        </div>





        <div class="add-list clearfix">
            <span>Add a list...</span>
            <!--<input />-->
        </div>

    <div class = "dnd-test">
        <simple-dnd></simple-dnd>
    </div>


</section>

