<div class = "row">
    <!--<div *ngFor="let list of lists; let i = index"-->
    <div *ngFor="let list of lists; let i = index"
        class="col-sm-3">
        <!--dnd-sortable-container-->
        <!--[dropZones]="['lists-zone']"-->
        <!--[sortableData]="lists"-->


        <div class="panel panel-warning">
             <!--dnd-sortable-->
             <!--[sortableIndex]="i"-->

            <div class="panel-heading">
                {{list}}
            </div>

            <div class = "panel-body"
                 dnd-sortable-container
                 [dropZones]="['tasks-zone']"
                 [sortableData]="tasks">
                <ul>
                    <li *ngFor="let task of tasks[i]; let j = index"
                            class="list-group-item"
                            dnd-sortable
                            [sortableIndex]="j">
                        {{ list + "_" + task }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--<h4>Multi list sortable</h4>-->
<!--<div class="row">-->

    <!--<div class="col-sm-3">-->
        <!--<div class="panel panel-warning">-->
            <!--<div class="panel-heading">-->
                <!--Available boxers-->
            <!--</div>-->
            <!--<div class="panel-body"-->
                 <!--dnd-sortable-container-->
                 <!--[dropZones]="['boxers-zone']"-->
                 <!--[sortableData]="listBoxers">-->

                <!--<ul class="list-group" >-->
                    <!--<li *ngFor="let item of listBoxers; let i = index"-->
                        <!--class="list-group-item"-->
                        <!--dnd-sortable-->
                        <!--[sortableIndex]="i"-->
                    <!--&gt;{{item}}</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-3">-->
        <!--<div class="panel panel-success">-->
            <!--<div class="panel-heading">-->
                <!--First Team-->
            <!--</div>-->
            <!--<div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listTeamOne">-->
                <!--<ul class="list-group" >-->
                    <!--<li *ngFor="let item of listTeamOne; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item}}</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-3">-->
        <!--<div class="panel panel-info">-->
            <!--<div class="panel-heading">-->
                <!--Second Team-->
            <!--</div>-->
            <!--<div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listTeamTwo">-->
                <!--<ul class="list-group">-->
                    <!--<li *ngFor="let item of listTeamTwo; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item}}</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-3">-->
        <!--<div class="panel panel-info">-->
            <!--<div class="panel-heading">-->
                <!--Second Team just container-->
            <!--</div>-->
            <!--<div class="panel-body" dnd-sortable-container>-->
                <!--<ul class="list-group">-->
                    <!--<li *ngFor="let item of listTeamTwo; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item}}</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-3">-->
        <!--<div class="panel panel-info">-->
            <!--<div class="panel-heading">-->
                <!--Second Team drop zones-->
            <!--</div>-->
            <!--<div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']">-->
                <!--<ul class="list-group">-->
                    <!--<li *ngFor="let item of listTeamTwo; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item}}</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->