<li class="ticket-component">
    <!--[attr.card-id]="card._id"-->
    <!--[attr.card-order]="card.order"-->
    <!--(click)="editCard()">-->
    <span>
        <!--<ticket-component> [innerHtml]="card.title" [style.display]="editingCard ? 'none' : ''">-->
        Ticket item
    </span>
    <textarea>
        blah-blah-blah
    </textarea>
    <!--<textarea>-->
        <!--blah-blah-blah-->
        <!--&lt;!&ndash;[style.display]="editingCard ? '' : 'none' "&ndash;&gt;-->
        <!--&lt;!&ndash;(keydown)="blurOnEnter($event)"&ndash;&gt;-->
        <!--&lt;!&ndash;(blur)="updateCard()"&ndash;&gt;-->
        <!--&lt;!&ndash;[(ngModel)]="card.title" >&ndash;&gt;-->
    <!--</textarea>-->
</li>