<li class="ticket-component"
>
    <!--[attr.ticket-id]="ticket._id"-->
    <!--[attr.ticket-order]="ticket.order"-->
    <!--(click)="editTicket()">-->
    <span>
        {{inputTicket.title}}
    </span>
        <!--<ticket-component> [innerHtml]="ticket.content" [style.display]="editingTicket ? 'none' : ''">-->

    <!--<textarea>-->
        <!--{{inputTicket.title}}-->
        <!--[style.display]="editingTicket ? '' : 'none' "-->
        <!--(keydown)="blurOnEnter($event)"-->
        <!--(blur)="updateTicket()"-->
        <!--[(ngModel)]="ticket.content" >-->
    <!--</textarea>-->


</li>