#main {
    min-width: 100%;
    /*height: calc(100% - 90px);*/
    overflow: hidden;
}

.board-title {
    height: 35px;
    min-width: 200px;
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 15px;

}

.board-title > span {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
    color: white;
}

.board-title > input {
    height: 100%;
    padding-left: 5px;
    margin: -3px -2px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    color: #5f5f5f;
}



.add-list {
    width: 280px;
    height: 40px;
    background-color: #0067A3;
    border-radius: 3px;
    width: 270px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 2px;
    box-sizing: border-box;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    cursor: hand;
}

.add-list > span {
    color: rgba(255,255,255,.7);
    height: 40px;
    line-height: 20px;
    vertical-align: middle;
    padding: 7px;
    font-size: 14px;
    cursor: pointer;
    cursor: hand;
}

.add-list input {
    margin-left: 4px;
    margin-top: 3px;
    line-height: 20px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    padding: 5px 5px 4px 5px;
    height: 30px;
    width: calc(100% - 10px);
}

.dnd-test {
    margin: 50px;
    width: 1000px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.setup-btn {
    background: none;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
    float: right;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.setup-btn > span {
    text-decoration: underline;
}


.setup-btn:hover {
    background-color: #0067A3;
}