<div class="board-title">
    <span> There should be editable board name </span>
</div>

<section id="main">

        <div class = "flex"
            *ngIf = 'lists'
            [dragula]="'dragula-lists'"
            [dragulaModel]="lists">
                 <list-component
                         *ngFor="let list of lists"
                        [list] = "list">
                 </list-component>
        </div>

        <div class="add-list flex"
             (click)="enableAddList()" >
        <span *ngIf="!addingList">
           Add a list...
        </span>
            <input *ngIf="addingList"
                   placeholder= 'Add a list...'
                   id = 'add-list'
                   [attr.autofocus]="add-list"
                   [(ngModel)]="addListName"
                   (focusout)="cancelAddList()"
                   (keyup)="addListOnEnter($event)"/>
        </div>

</section>

