<ticketdetails-component
        [ticketId]='ticketDetailsTicketId'
        [boardId]='board.boardId'
        *ngIf = 'ticketDetailsVisible'>
</ticketdetails-component>

<div class="board-title">
    <span *ngIf = "board && !editingBoardName"
          (click) = "this.editBoardName()">
          {{board.name}}
    </span>

    <input myAutofocus
           *ngIf='editingBoardName'
           placeholder= {{board.name}}
           [(ngModel)]='editingBoardNameBuffer'
           (blur)='this.renameBoard()'
           (keyup)='this.renameBoardOnEnter($event)'>


    <a class="setup-btn"
            (click)="toggleSetup()">
        ... <span>Show menu</span>
    </a>

    <boardsettings-component
            *ngIf = '(hasRights !== undefined) && setupVisible'
            (closeBoardSettings$)='onCloseBoardSettings($event)'
            [boardId]='boardId'>
    </boardsettings-component>
</div>

<section id="main">

        <div class = "flex"
            [dragula]="'dragula-lists'"
            [dragulaModel]="lists"
            *ngIf = 'lists'>

                 <list-component
                         *ngFor="let list of lists"
                         (removeListFromBoard$)='onRemoveList($event)'
                        [list] = "list">
                 </list-component>
        </div>

        <div
             *ngIf   = 'hasRights'
             class   = 'add-list flex'
             (click) = 'enableAddList()' >

            <span *ngIf="!addingList">
               Add a list...
            </span>

            <input *ngIf="addingList"
                   myAutofocus
                   placeholder= 'Add a list...'
                   id = 'add-list'
                   [attr.autofocus]="add-list"
                   [(ngModel)]="addListName"
                   (focusout)="cancelAddList()"
                   (keyup)="addListOnEnter($event)"/>
        </div>

</section>

