<div class = 'list-component flex' [attr.list-id] = list._id [attr.list-order] = list.order>
    <div class = 'list-component-header'>
        <h4 class = 'handle'>{{list.name}}</h4>
        <button
                class = 'btn btn-del-list'
                (click) = deleteList()>
                x
        </button>
    </div>

    <div class = 'ticket-list flex'

        [dragula]="'dragula-tickets'"
        [dragulaModel]="tickets">
        <div *ngFor="let ticket of tickets| orderBy:'order'">
            <ticket-component
                    (removeTicketFromList$)='onRemoveTicket($event)'
                    [ticket]="ticket">
            </ticket-component>
        </div>
    </div>

    <div class="add-ticket"
         (click)="enableAddTicket()" >

        <span *ngIf='!addingTicket'>
           Add a ticket...
        </span>

        <input
                class = 'ticketName'
                placeholder= 'Add a card...'
               *ngIf='addingTicket'
               [attr.autofocus]='addingTicket'
               [(ngModel)]='addingTicketText'
               (focusout)='this.cancelAddTicket()'
               (keyup)='this.addTicketOnEnter($event)'/>
    </div>
</div>