<div class = 'list-component flex' [attr.list-id] = list._id [attr.list-order] = list.order>
    <div class = 'list-component-header'>
        <div class = 'header-title clearfix'>
            <h4
                    (click) = this.editListName();
                    *ngIf = '!editingListName'
                    class = 'handle'>{{list.name}}
            </h4>

            <input class = 'listName'
                   myAutofocus
                   *ngIf='editingListName'
                   [(ngModel)]='editingListNameBuffer'
                   (blur)='this.cancelListRename()'
                   (keyup)='this.renameListOnEnter($event)'>
        </div>

        <button
                *ngIf = 'hasRights'
                class = 'btn btn-del-list'
                (click) = deleteList()>
                x
        </button>
    </div>

    <!--[dragula]="list._id"-->
    <div class = 'ticket-list flex'
        [dragula]="tickets"
        [dragulaModel]="tickets">
        <div *ngFor="let ticket of tickets| orderBy:'order'">
            <ticket-component
                    (removeTicketFromList$)='onRemoveTicket($event)'
                    [ticket]="ticket">
            </ticket-component>
        </div>
    </div>

    <div *ngIf = 'hasRights'
         class="add-ticket"
         (click)="enableAddTicket()" >

        <span *ngIf='!addingTicket'>
           Add a ticket...
        </span>

        <input
               myAutofocus
               placeholder= 'Add a card...'
               *ngIf='addingTicket'
               [(ngModel)]='addingTicketText'
               (blur)='this.cancelAddTicket()'
               (keyup)='this.addTicketOnEnter($event)'/>
    </div>
</div>