<div class="boards-wrapper is-shown">
    <h2>My Boards</h2>
    <div id="boards">
        <div *ngIf = "boards">
            <a
                    class="board"
                    *ngFor = "let board of boards"
                    [routerLink]="['/b', board._id]"
                    (click) = 'closeBoardList()'>
                <span class = "title">{{board.name}}</span>
            </a>
        </div>

        <a class="add-board"
          (click) ="enableAddBoard()">
            <span class = "title"
                  *ngIf="!addingBoard">
               Create a new board...
            </span>

            <input *ngIf="addingBoard"
                   placeholder= 'Add a board...'
                   [attr.autofocus]="addingBoard"
                   [(ngModel)]="addBoardName"
                   (focusout)="cancelAddBoard()"
                   (keyup)="addBoardOnEnter($event)"/>
        </a>
    </div>
</div>

