<div class = 'login-component'>
  <div class="row">
    <div class="col-md-6">
      <form name = "form"
            (ngSubmit)="f.form.valid && login()"
            #f="ngForm"
            novalidate>
        <div class="form-group">
          <label for="email">Username</label>
          <input
            id = "email"
            type="text"
            class="form-control"
            name="email"
            placeholder="Enter your email"
            [(ngModel)]="model.email"
            #email="ngModel"
            required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                 id="password"
                 class="form-control"
                 name="password"
                 placeholder="Enter your password"
                 [(ngModel)]="model.password"
                 #password="ngModel"
                 required />
            <div class = 'login-info'>{{info}}</div>
        </div>

        <div class = "sign-btns">
            <button
                    type="submit"
                    [disabled] = "loading"
                    class=" btn btn-default btn-primary btn-login ">
              Login
            </button>

            <!--<button-->
                    <!--type="button"-->
                    <!--class=" btn btn-default btn-signup"-->
                    <!--(click)="signup(username.value, password.value)">-->
                <!--Sign Up-->
            <!--</button>-->
        </div>
        </form>

        <p>OR</p>
        <br>
            <button
              type="button"
              class="btn btn-social btn-auth-google"
              (click)="auth.loginWithGoogle()">
                Login with Google
            </button>
            <button
                  type="button"
                  class="btn btn-social btn-auth-facebook"
                  (click)="auth.loginWithFacebook()">
              Login with Facebook
            </button>

    </div>
  </div>
</div>
