* {
    color: white;
}

input {
    color: black;
}

.login-component {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    background-color: #0067A3;
    border-radius: 5px;
}

.form-control {
    width: 250px;
}

.btn {
    display: inline-block;
}

.btn-login {
    display:inline-block;
    float: left;
    width: 150px;
}

.btn-signup {
    display:inline-block;
    float: right;
    background-color: #61bd4f;
}

.btn-social {
    margin-bottom: 5px;
    background-color: #337ab7;
    width: 250px;
    background-position: left center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.btn-auth-google {
    background-image: url(./app/components/login.component/images/google.png);
}

.btn-auth-facebook {
    background-image: url(./app/components/login.component/images/facebook.png);
}

.sign-btns {
    margin-top: 40px;
    margin-bottom: 15px;
    height: 30px;
    width: 250px;
}



p {
    font-weight:bold;
    align: center;
    margin: 0;
}