nav {
    position: absolute;
    width: 100%;
    background-color: #0067A3;
    padding: 5px;
    height: 45px;
}

nav a {
    float: left;
    color: white;
}

nav a.btn {
    background-color:#4590BC;
    padding-right: 5px;
}

.logo{
    position: absolute;
    left: 50%;
    line-height: 45px;
    font-weight: bold;
    color:#7FB2D1;
    text-align: center;
    white-space: nowrap;
}

.user {
    float: right;
}

.user .btn {
    display: inline-block;
    background-color:#4590BC;
    color: white;
}

a.useremail {
    font-weight:bold;
    line-height:45px;
    margin-right: 10px;
}

.is-shown {
    display: none;
}