    <nav >
        <button class="btn"
           *ngIf = 'isLoggedIn'
            (click)="toggleBoardList()">|||| Boards
        </button>

        <boardlist-component
                *ngIf = 'isLoggedIn'
                (closeBoardList$)='onCloseBoardList($event)'
                [ngClass]="{'is-shown':!boardListVisible}">
        </boardlist-component>

        <a
            class="logo"
            routerLink='/dashboard'
            routerLinkActive='active'>
            Trello learning app
        </a>


        <div class = "user">
            <a class="useremail"
               *ngIf = 'isLoggedIn'>
                {{userEmail}}
            </a>

            <button class="btn"
                [routerLink]="['login']"
                *ngIf = '!isLoggedIn'>
                    Login
            </button>

            <button class="btn"

                    [routerLink]="['login']"
                    *ngIf = 'isLoggedIn'>
                    Logout
            </button>

        </div>
    </nav>